<section class="pt-5 container follow-modal">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
      <h3 style="font-weight: bold;">フォロー</h3>
        <% @users.each do |user|%>
        <hr>
          <%= link_to user_path(user.id)  do %>
            <% if user.avatar.attached? %>
              <p><%= image_tag(rails_blob_path(user.avatar),:size => "30x30", class: "img-circle") %><%= user.nickname %></p>
            <% else %>
              <p><%= image_tag("default_user.png", :size => "40x40", class: "img-circle pl-1em") %><%= user.nickname %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
</section>
<% breadcrumb :following_user %>
