<% unless @posts.length == 0 %>
<% @posts.each do |post| %>
<div class="posts">
  <div class="post-index">

      <div class=""">
      <%= link_to post.title, post_path(post), class:"post-title"%>
      </div>
      <%= image_tag post.image, class:"post-image"%>
      <div class="post-nickname">
        <%= post.user.nickname %>
    </div>
    <div id="index_like_<%= post.id %>">
        <%= render 'likes/like', post: post %>
    </div>

</div>
</div>

<% end %>
<% end %>
