-<% unless @posts.length == 0 %>
<% @posts.each do |post| %>
<div class="posts">
  <div class="post-index">
    <ul>
      <div class="post-title"">
        <li><%= link_to post.title, post_path(post) %></li>
      </div>
      <li><%= image_tag post.image, class:"post-image"%></li>
      <div class="post-nickname">
        <li><%= post.user.nickname %></li>

    </div>
  </ul>
</div>
</div>
<div id="index_like_<%= post.id %>">
    <%= render 'likes/like', post: post %>
</div>
<% end %>
<% end %>
