<%= render 'devise/shared/header' %>
<div class="post-main">
    <div class="side">
      <%= render 'devise/shared/side' %>

 </div>
 <div class="show-posts">

    <div class="viedo-show">
     <%= video_tag @post.video.to_s, :controls => true, autobuffer: true, id:"video"%>

     </div>

     <div class="show-post">
       <div class="btn show-nickname">
        <%= link_to user_path(@post.user.id) do %>
        <%= @post.user.nickname %>
          <% end %>
       </div>
       <div id="show_like_<%= @post.id %>">
          <%= render 'likes/like', post: @post %>
      </div>
     <div class="show-description">
         <%= @post.description %>
     </div>

       <% if user_signed_in? && current_user.id == @post.user_id %>
   <div class="post__manage">
     <%= link_to "編集する", edit_post_path(@post.id), class:"btn post-btn" %>
     <%= link_to "削除する", post_path(@post.id), method: :delete, class:"btn post-btn" %>
       <% end %>
       <%=link_to 'トップページへ戻る', root_path, class:"btn back-btn" %>
       </div>


       <h3>Only Good Comment</h3>
       <div class="new-comment">
  <%= render 'comments/form', post: @post, comment: @comment %>
</div>
<div id="comments_area">
  <%= render 'comments/post_comments', post: @post %>
</div>
   </div>
   </div>
</div>
